body {
	background: #eee;
}

#playArea {
	margin : 10px;
}

#lengthOfArray, #rangeOfNumber {
	display: inline;
}

.hideClass {
	display: none;
}

.showClass {
	display: block;
}

input {
	margin-bottom: 0.5rem;
}